body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 5px;
}
h1 {
    text-align: center;
}
p {
    color: #000;
}
.btn-container {
    display: flex;
    gap: 50px;
    color: #fff;
}

.btn {
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.reset {
    background-color: red;
}
.stop {
    background-color: darkred;
}
.start {
    background-color: green;
}